<section class="fixed flex p-2 gap-8 items-center justify-center top-0 left-0 h-16 w-screen bg-gray-700">
    <fa-icon 
        [icon]="faPenRuler" 
        ngClass="p-2 hover:bg-black/50 rounded-md duration-200 hover:cursor-pointer fa-xl fa-light text-white"
    ></fa-icon>
    <fa-icon 
        [icon]="faDoorClosed" 
        ngClass="p-2 hover:bg-black/50 rounded-md duration-200 hover:cursor-pointer fa-xl fa-light text-white"
    ></fa-icon>
    <fa-icon 
        [icon]="faWindowRestore" 
        ngClass="p-2 hover:bg-black/50 rounded-md duration-200 hover:cursor-pointer fa-xl fa-light text-white"
    ></fa-icon>
</section>
