<section class="z-50 fixed m-auto flex rounded-full p-2 gap-8 items-center justify-center h-16 w-[90vw] top-[1rem] left-[5vw] bg-gray-700">
    <fa-icon 
        [icon]="faPenRuler" 
        (click)="chooseDraw()"
        [className]="(currentTool === 0 ? 'bg-black/50 ' : '') + 'p-2 hover:bg-black/50 rounded-md duration-200 hover:cursor-pointer fa-xl fa-light text-white'"
    ></fa-icon>
    <fa-icon 
        [icon]="faDoorClosed" 
        (click)="chooseDoor()"
        [className]="(currentTool === 1 ? 'bg-black/50 ' : '') + 'p-2 hover:bg-black/50 rounded-md duration-200 hover:cursor-pointer fa-xl fa-light text-white'"
    ></fa-icon>
    <fa-icon 
        [icon]="faWindowRestore" 
        (click)="chooseWindow()"
        [className]="(currentTool === 2 ? 'bg-black/50 ' : '') + 'p-2 hover:bg-black/50 rounded-md duration-200 hover:cursor-pointer fa-xl fa-light text-white'"
    ></fa-icon>
    <fa-icon 
        [icon]="faSquare" 
        (click)="chooseSquare()"
        [className]="(currentTool === 3 ? 'bg-black/50 ' : '') + 'p-2 hover:bg-black/50 rounded-md duration-200 hover:cursor-pointer fa-xl fa-light text-white'"
    ></fa-icon>
    <fa-icon 
        [icon]="faTrash" 
        (click)="chooseRemove()"
        [className]="(currentTool === 4 ? 'bg-black/50 ' : '') + 'p-2 hover:bg-black/50 rounded-md duration-200 hover:cursor-pointer fa-xl fa-light text-white'"
    ></fa-icon>
    <fa-icon 
        [icon]="faXmark"
        (click)="chooseRemoveAll()"
        [className]="(currentTool === 5 ? 'bg-black/50 ' : '') + 'p-2 hover:bg-black/50 rounded-md duration-200 hover:cursor-pointer fa-xl fa-light text-white'"
    ></fa-icon>
</section>
